@page
@model SvanteASPNET1.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Hej! Varmt välkommen till min Events sida här kan du joina två balla events som kommer lysa upp din tillvaro eller kanske till och med förändra ditt liv, du kanske gifter dig, du kanske blir gravid! Så JOINA EVENTS IDAG!
    </p>
    <div class="btn-group">
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Register</a>
        <a asp-page="/Events" type="button" class="btn btn-outline-primary">Log In</a>
    </div>
</div>

